html, body {
    height: 100%;
    margin: 0;
}
#map {
    width: 600px;
    height: 400px;
}

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
    width: 100vw;
}

/* color for the home extent button */
.home {
    background-color: white;
    cursor: pointer;
}

/*charactersitics for the nav on the left of screen*/
.navbar {
    width: 300px;
    background-color: white;
    overflow: auto;
    max-height: 600px;
}

/*any content that needs to be temporarily hidden*/
.hidden {
    display : none;
}