html, body {
    height: 100%;
    margin: 0;
}
#map {
    width: 600px;
    height: 400px;
}

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
    width: 100vw;
}

/* color for the home extent button */
.home {
    background-color: white;
    cursor: pointer;
}

/* back arrow inside of the search menu */
.back-arrow, #expand-hamburger {
    cursor: pointer;
}

/*characteristics for the nav on the left of screen*/
.navbar {
    background-color: #007E00;
    overflow: auto;
}

.expanded-navbar {
    width: 270px;
}

.constrained-navbar {
    width: 60px;
}

#close-button{
    cursor: pointer;
}

/* Tab related CSS */
.tab-pane{
    padding: 15px;
    background-color: #C1FCA5;
    width: 221px;
}

.nav-item {
    background-color: rgb(106, 195, 91);
}

.nav-tabs .nav-link.active {
    background-color: #C1FCA5;
}

input[type="text"]{
    width: 194px;
}

.radi-elements, .navbar, leaflet-control {
    border-radius: 7px;
}



/*matches the sizes for each of the side icons in the order of locate, home extent, layer list*/
div.leaflet-control-locate  .leaflet-bar-part, .leaflet-control img[src="img/home.svg"], .leaflet-control-layers a.leaflet-control-layers-toggle {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: #007E00;
}
div.leaflet-control-layers, div.home {
    background-color: rgba(255, 255, 255, 0);
}

div.leaflet-control-layers-expanded{
    background-color: #007E00;
    color: white;
}


.nav-item {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/*any content that needs to be temporarily hidden*/
.hidden {
    display : none;
}



/* custom Scroll wheel CSS */
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C1FCA5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #007E00;
}