html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h4 {
    display: inline;
    font-size: 1.2em;
}

#map {
    height: 100%;
    width: 100vw;
}
#map.click-map-activated{
    cursor: url(https://unpkg.com/leaflet@1.0.1/dist/images/marker-icon.png), auto;
}

/* color for the home extent button */
.home {
    background-color: white;
    cursor: pointer;
}

.popup-span-text{
    display: block;
}

/* center the map incon inside of the menu */
#select-map-location{
    margin-left: 75px;
    margin-right: 75px;
}

/* back arrow inside of the search menu */
.back-arrow, #expand-hamburger {
    cursor: pointer;
}

/*characteristics for the nav on the left of screen*/
.navbar {
    background-color: #007E00;
    overflow: auto;
    align-content: baseline;
}

a.nav-link {
    color : dimgrey;
}

a.nav-link.active{
    font-weight: bold;
    color : black;
}

.expanded-navbar {
    width: 270px;
}

.constrained-navbar {
    width: 60px;
}

#close-button, .park-info{
    cursor: pointer;
}

/* Tab related CSS */
.tab-pane{
    padding: 15px;
    background-color: #C1FCA5;
    width: 221px;
}

.nav-item {
    background-color: rgb(106, 195, 91);
}

.nav-tabs .nav-link.active {
    background-color: #C1FCA5;
}

input[type="text"]{
    width: 194px;
}

#comment-submit-form label {
    margin-bottom: 0px;
    margin-top: 9px;
}

#commentcontent, #trailcontent {
    width: 240px;
}

.radi-elements, .navbar, leaflet-control {
    border-radius: 7px;
}

.park-info.expanded{
    width: 250px;
    height: 400px;
    padding: 15px;
}

.trail-search-subheader {
    font-weight: bold;
}

#information-icon{
    width : 50px;
}

.park-info-content {
    background-color : #C1FCA5;
    padding:5px;
    border-radius: 7px;
}


/*matches the sizes for each of the side icons in the order of locate, home extent, layer list*/
div.leaflet-control-locate  .leaflet-bar-part, .leaflet-control img[src="img/home.svg"], .leaflet-control-layers a.leaflet-control-layers-toggle, .park-info {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: #007E00;
}
div.leaflet-control-layers, div.home {
    background-color: rgba(255, 255, 255, 0);
}

div.leaflet-control-layers-expanded{
    background-color: #007E00;
    color: white;
}


.nav-item {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/*any content that needs to be temporarily hidden*/
.hidden {
    display : none;
}



/* custom Scroll wheel CSS */
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C1FCA5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #007E00;
}